<!DOCTYPE html>
    <html>
      <head>
        <title>My Account</title>
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="<stylehome.css>

        </style>">
      </head>
      <body>
        <div class="container">
          <div class="col-md-6 col-md-offset-3">
            <a href="/"><h1>My Account</h1></a>
          </div>
<form action="/logout" method="get">
  <input type="submit" value="Logout" />
</form>
<div class="col-md-6 col-md-offset-3">
      <ul class="list-group" id="list-notes">
        <% #@users.map do  |current_user|%>
          <li class="list-group-item clearfix">
            <div class="col-md-11">
              <p><%= current_user.Email %></p>
              <p><%= current_user.Password %></p>
              <p><i>Created at: <%= current_user.created_at %></i></p>
            </div>
            <div>
              <a class="btn-xs" href="/users/<%=current_user.id %>/edit">Edit</a>
              <form action="/users/<%= current_user.id %>" method="post" class="delete-form">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete" class="btn-xs btn-link">
              </form>
            </div>
          </li>
        <% #end %>
      </ul>
    </div>
</div>
      </body>
    </html>
